<div class="posts-wrapper row">
      <div class="post">
        <div class="post-head">
          <div class="name">
            Ben Waldman
          </div>
        </div>
        <div class="image center-block">
          <%= image_tag @catpost.image.url(:medium) %>
          <p class="caption">
            <%= @catpost.caption %>
          </p>
          <div class="text-center">
            <%= link_to "Cancel", catposts_path %>
            |
            <%= link_to "Edit Post", edit_catpost_path %>
          </div>
        </div>
      </div>
</div>